# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

trigger:
- master

pool:
  vmImage: 'windows-latest'

steps:
- task: SonarCloudPrepare@3
  inputs:
    SonarQube: 'sonar'
    organization: 'dotnetapptest'
    scannerMode: 'dotnet'
    projectKey: 'dotnetapptest'
    projectName: 'dotnetAppTest'
- task: DotNetCoreCLI@2
  displayName: 'Build solution'
  inputs:
    command: 'build'
    projects: '**/*.sln'
    arguments: '--configuration Release'
- task: SonarCloudAnalyze@3
  inputs:
    jdkversion: 'JAVA_HOME_17_X64'
- task: SonarCloudPublish@3
  inputs:
    pollingTimeoutSec: '300'